.App {
  text-align: center;
}

.App div{
  width: 300px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #3333;
  background-color: rgb(177, 214, 238);
  padding: 10px;
  text-align: center;
  border: 2px solid #444;
}

.App {
  background-color: rgb(234, 149, 22);
  border-radius: 20px;
  border: 2px solid #d21414;
}